@import "./src/Variables.scss";
@import "./src/Animations.scss";

.dialogOverlay {
  background-color: rgb(0, 0, 0, $opacity-medium);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 50rem;
  max-height: 100%;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  overflow-y: auto;
}

.dialogContent:focus {
  outline: none;
}

.popUp {
  margin: 1rem auto;
  width: 100%;
  height: auto;
  background-color: $white;
  box-shadow: 0 0 5px $black;
  opacity: $opacity-full;
  overflow-x: hidden;
  font-family: $font;

  &__nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 2.5rem;

    &__button {
      background-color: $blueColor;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: none;
      margin-right: 0.5rem;
      background-image: url(./src/assets/cross.svg);
      background-size: cover;
      cursor: pointer;
    }

    &__label {
      width: 0;
      height: 0;
      opacity: $opacity-none;
      z-index: -1;
    }
  }

  &__content {
    &__img {
      display: block;
      width: 90%;
      height: auto;
      margin: auto;
      box-shadow: 0 0 2px $black;
    }

    &__info {
      padding: 1rem 1.5rem;

      &__title {
        font-family: $fontBold;
        font-size: 1.5rem;
        margin: 0;
      }

      &__details {
        font-family: $fontItalic;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
      }

      &__fact {
        padding: 0;
        list-style: none;
        margin: 0.5rem 0;
        text-align: left;
      }

      &__artist {
        text-align: right;
        font-family: $fontBold;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .dialogContent {
    width: 80%;
  }

  .popUp__content {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      width: 50%;
      margin: 1rem;
      object-fit: contain;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50%;
      padding: 1rem 2rem;

      &__title,
      &__details,
      &__fact {
        text-align: left;
      }
    }
  }
}
