@import "./src/Variables.scss";
@import "./src/Animations.scss";

.modalOverlay {
  background-color: rgb(0, 0, 0, $opacity-medium);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

// Triggers animation when the modal is closed
.modalOverlay[data-state="closed"],
.modal[data-state="closed"] {
  animation: fadeOut 0.5s ease-out;
}

// Immediately removes the overlay when the modal is closed
.modalOverlay[data-state="closed"] {
  opacity: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 50rem;
  max-height: 90%;
  animation: contentShow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  overflow-y: auto;
  background-color: $white;
  box-shadow: 0 0 5px $black;
  overflow-x: hidden;
  font-family: $font;
  @media screen and (min-width: 768px) {
    width: 80%;
    display: flex;
    align-items: center;
  }

  &--artwork {
    padding: 2.5rem 1rem 0.5rem;
  }

  &:focus {
    outline: none;
  }

  &__button {
    background-color: $blueColor;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: none;
    background-image: url(./src/assets/cross.svg);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &__content {
    &__img {
      display: block;
      width: 90%;
      margin: 0 auto;
      box-shadow: 0 0 2px $black;
      @media screen and (min-width: 768px) {
        width: 40%;
        margin: 1rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      margin: 1rem;
      gap: 0.2rem;
      @media screen and (min-width: 768px) {
        width: 50%;
        margin: 2.5rem auto 1rem;
        padding: 0 1.5rem;
      }

      &__title {
        font-family: $fontBold;
        font-size: 1.5rem;
        margin: 0;
      }

      &__details {
        font-family: $fontItalic;
        margin: 0.2rem 0 0.5rem;
      }

      &__fact {
        padding: 0;
        list-style: none;
        margin: 0.5rem 0;
        text-align: left;
      }

      &__title,
      &__details,
      &__fact {
        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }

      &__artist {
        text-align: right;
        font-family: $fontBold;
        margin-right: 1rem;
      }
    }
  }
}
