@import "../../Variables.scss";

.likePic {
  width: 2.5rem;
  cursor: pointer;
}
.buttonLike {
  all: unset;
  position: relative;
  top: 10%;
  left: 41%;

  @media screen and (max-width: 1000px) {
    top: 17%;
    left: 38%;
  }
}
.artworkCardLikeButton {
  all: unset;
  display: block;
  position: absolute;
  bottom: 32%;
  left: -1%;
}
