@import "./src/variables.scss";

.popUp__content {
  &__info {
    padding: 0;
    &__title {
      margin: 1rem 0;
    }
  }
}

.popUp__artworks {
  padding: 0 1.5rem;
  &__title {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family: $fontBold;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    & li {
      text-align: center;
      list-style: none;
      width: 50%;
    }
    &__img {
      width: 90%;
      height: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .popUp__content__info {
    padding: 0 1rem;
  }
  .popUp__artworks {
    &__title {
      margin-left: 1.5rem;
    }
    &__list {
      & li {
        width: 33%;
      }
    }
  }
}
