@import "../../../Variables.scss";

.landscape__wrapper {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $fontBold;
  color: $black;
  height: 100vh;
}
.landscape__portrait {
  margin: 2vh;
  width: 40vw;
  opacity: 70%;
  border-radius: 25px;
}

.landscape__sign {
  color: $black;
  font-size: 8vh;
}
.landscape__portrait_message {
  font-size: 5vw;
}

.message__hidden {
  @media screen and (orientation: landscape) {
    display: none;
  }
}
