@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "./src/Variables.scss";

.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: $white;
  transition: 1s;
  justify-content: flex-end;
  align-items: flex-end;
}
.carousel-item {
  height: 100vh;
  min-width: 100vw;
  object-fit: cover;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none;
}

.alice-carousel__dots {
  position: absolute;
  bottom: 20%;
  left: 33%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 493px) {
    bottom: 17%;
  }
  @media screen and (min-width: 583px) {
    bottom: 14%;
  }
  @media screen and (min-width: 600px) {
    bottom: 19%;
    left: 50%;
  }
  @media screen and (min-width: 716px) {
    bottom: 17%;
  }
  @media screen and (min-width: 847px) {
    bottom: 14%;
  }
  @media screen and (min-width: 1089px) {
    bottom: 11%;
    left: 50%;
  }
  @media screen and (min-width: 1200px) {
    bottom: 18%;
  }
  @media screen and (min-width: 1405px) {
    bottom: 15%;
  }
  @media screen and (min-width: 1700px) {
    bottom: 12%;
  }
}

.alice-carousel .alice-carousel__dots-item.__active {
  background-color: $white;
}

.alice-carousel .alice-carousel__dots-item:not(.__active) {
  background-color: $black;
}

.alice-carousel .alice-carousel__dots-item:not(.__active),
.alice-carousel__dots-item.__active {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.hometext-container {
  position: absolute;
  background-color: $white;
  opacity: $opacity-high;
  bottom: 0;
  left: 20%;
  width: 80%;
  @media screen and (min-width: 600px) {
    width: 55%;
    left: 45%;
  }
}
.hometext {
  font-family: $fontBold;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  text-align: center;
  font-size: 0.96rem;
  @media screen and (min-width: 400px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 1.3rem;
  }
}

.carousel-slide-visit_container {
  position: absolute;
  width: 60%;
  height: 25%;
  display: flex;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 600px) {
    width: 55%;
    height: 30%;
  }
  @media screen and (min-width: 800px) {
    width: 50%;
    height: 35%;
  }
  @media screen and (min-width: 1000px) {
    width: 45%;
    height: 40%;
  }
  @media screen and (min-width: 1200px) {
    width: 35%;
  }
}
.carousel-slide-visit_text {
  color: $white;
  font-family: $fontBold;
}

.carousel-slide-visit_button {
  all: unset;
  font-family: $fontBold;
  color: $white;
  position: absolute;
  padding: 0.563rem 1.375rem;
  font-size: 0.938rem;
  @media screen and (min-width: 600px) {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }
  @media screen and (min-width: 800px) {
    padding: 1rem 2.5rem;
    font-size: 1.1rem;
  }
  @media screen and (min-width: 1000px) {
    padding: 1.1rem 2.5rem;
    font-size: 1.3rem;
  }
}
.carousel-first-slide-visit_container {
  background-color: rgba($blueColor, $opacity-high);
  top: 20%;
  left: 5%;
}

.carousel-first-slide-visit_text {
  font-size: 1.875rem;
  @media screen and (min-width: 450px) {
    font-size: 2.3rem;
  }
  @media screen and (min-width: 700px) {
    font-size: 2.6rem;
  }
  @media screen and (min-width: 900px) {
    font-size: 2.9rem;
  }
  @media screen and (min-width: 1100px) {
    font-size: 3rem;
    margin: 1rem;
  }
  @media screen and (min-width: 1300px) {
    margin: 2rem;
  }
  @media screen and (min-width: 1400px) {
    font-size: 3.2rem;
  }
  @media screen and (min-width: 1500px) {
    font-size: 3.7rem;
    margin: 3.5rem;
  }
  @media screen and (min-width: 1600px) {
    font-size: 3.9rem;
  }
}

.carousel-first-slide-visit_button {
  background-color: $redColor;
  position: absolute;
  bottom: -9%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-second-slide-visit_container {
  background-color: rgba($redColor, $opacity-high);
  top: 20%;
  left: 35%;
  @media screen and (min-width: 600px) {
    left: 38%;
  }
  @media screen and (min-width: 800px) {
    left: 45%;
  }
  @media screen and (min-width: 1000px) {
    left: 49%;
  }
  @media screen and (min-width: 1200px) {
    left: 60%;
  }
}

.carousel-second-slide-visit_text {
  font-size: 1.75rem;
  @media screen and (min-width: 450px) {
    font-size: 2.4rem;
  }
  @media screen and (min-width: 700px) {
    font-size: 2.8rem;
  }
  @media screen and (min-width: 900px) {
    font-size: 3.1rem;
  }
  @media screen and (min-width: 1100px) {
    font-size: 3.3rem;
    margin: 1rem;
  }
  @media screen and (min-width: 1300px) {
    font-size: 3.5rem;
    margin: 2rem;
  }
  @media screen and (min-width: 1400px) {
    font-size: 3.2rem;
  }
  @media screen and (min-width: 1500px) {
    font-size: 3.7rem;
    margin: 3.7rem;
  }
}

.carousel-second-slide-visit_button {
  bottom: -9%;
  right: 35%;
  background-color: $greyColor;
}

.carousel-third-slide-visit_container {
  background-color: rgba($purpleColor, $opacity-high);
  top: 20%;
  left: 5%;
}

.carousel-third-slide-visit_text {
  font-size: 2.3rem;
  @media screen and (min-width: 450px) {
    font-size: 2.8rem;
    padding: 1rem;
  }
  @media screen and (min-width: 700px) {
    font-size: 3rem;
    padding: 2rem;
  }
  @media screen and (min-width: 900px) {
    font-size: 3.2rem;
    padding: 3rem;
  }
  @media screen and (min-width: 1100px) {
    font-size: 3.3rem;
    margin: 1rem;
  }
  @media screen and (min-width: 1300px) {
    font-size: 3.5rem;
    margin: 2rem;
  }
  @media screen and (min-width: 1400px) {
    font-size: 3.2rem;
    margin: 3rem;
  }
  @media screen and (min-width: 1500px) {
    font-size: 4rem;
    margin: 3rem;
  }
}

.carousel-third-slide-visit_button {
  bottom: -10%;
  right: 34%;
  background-color: $redColor;
}

.alice-carousel__play-btn-wrapper {
  background-color: transparent;
  padding: 0;
}
.alice-carousel__play-btn-item::before,
.alice-carousel__play-btn-item::after {
  border-left-color: $blueColor;
}
