@import "../../Variables.scss";

@mixin navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 10%;
  color: $white;
  font-family: $fontBold;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar {
  @include navbar;
  background-color: $blueColor;
}

.navbar_transparent {
  @include navbar;
  background-color: transparent;
  .navbarLogo {
    color: $black;
  }
}
.navbarLogo {
  color: $white;
  padding-left: 1%;
}
.navbar__links {
  display: flex;
  list-style-type: none;
  margin-right: 1rem;
}

.navbarLink {
  padding: 0 0.3rem;
  color: inherit;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1030px) {
  .navbarLink {
    display: block;
    padding: 1.5rem;
  }
}
