@import "../../Variables.scss";

.FavoriteArtworkCard {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.artwork {
  width: 100%;
  @media screen and (min-width: 800px) {
    max-width: 70%;
  }
}

.favoriteArtworkCardTitle {
  font-family: $fontBold;
  font-size: 1rem;
}
