@keyframes overlayShow {
  from {
    opacity: $opacity-none;
  }
  to {
    opacity: $opacity-full;
  }
}

@keyframes contentShow {
  from {
    opacity: $opacity-none;
    transform: translate(-50%, 100%) scale(0.1);
  }
  to {
    opacity: $opacity-full;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, 100%) scale(0.1);
  }
}
