@import "../../Variables.scss";

.artistCard {
  flex-direction: column;
  background-color: $white;
  border: none;
  margin: 0.5rem;
}

.artistPic {
  width: 9rem;
  height: 13rem;
  @media screen and (min-width: 900px) {
    width: 12rem;
    height: 18rem;
  }
}

.artistName {
  text-align: center;
  font-family: $fontBold;
  font-size: 0.9rem;
  width: 9rem;
  height: 2rem;
  @media screen and (min-width: 900px) {
    font-size: 1.2rem;
    width: 12rem;
    height: 2.5rem;
  }
}
