@import "../../Variables.scss";

.artistsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.artistCard {
  display: flex;
  flex-direction: column;
  width: 9rem;
  height: 17rem;
}

.artistPic {
  width: 9rem;
  height: 13rem;
}

.artistName {
  font-family: $fontBold;
  text-align: center;
  font-size: 0.9rem;
  width: 9rem;
  height: 2rem;
}
