@import "../../Variables.scss";

.AlertDialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  border: 1px solid $black;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  @media screen and (min-width: 700px) {
    width: 50vw;
  }
  @media screen and (min-width: 1000px) {
    width: 60vw;
  }
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: var(--mauve-12);
  font-family: $font;
  font-size: 2rem;
  text-align: center;
}

.openModal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.4rem;
  font-size: 0.8rem;
  height: 1.5rem;
  background-color: $black;
  color: $white;
  position: absolute;
  border-radius: 10rem;
  right: 1%;
  top: 1%;
  @media screen and (min-width: 700px) {
    height: 1.5rem;
    padding: 0 0.5rem;
    font-size: 0.7rem;
  }
  @media screen and (min-width: 1000px) {
    height: 2rem;
    padding: 0 0.7rem;
    font-size: 1rem;
  }
}

.openModal:hover {
  background-color: $white;
  color: $black;
}

.openModal:focus {
  box-shadow: 0 0 0 2px $black;
}

.areYouSureButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}

.mainMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
